html {
  width: 100%;
  height: 100%;
  margin: 0em;
  box-sizing: border-box;
  font-family: "Quattrocento", serif;
  font-weight: 200;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #5E1224;
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 1rem;
  box-sizing: border-box;
}


.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../images/backgroundRoman.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center center;
  background-attachment: fixed;
}

.containerStyles {

  border-radius: .9rem;
}

.headerLayout {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerStyles {
  background-color: rgba(218, 165, 32, .4);
  color: #3b0b30;
}

.mainLayout {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardStyles {
  background-color: rgba(218, 165, 32, .4);

  color: #3b0b30;
}


.inputLayout {
  width: 50%;
  height: 48%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.inputLayout input {
  width: 90%;
  height: 15%;
  border-radius: .4rem;
  text-align: center;
}



.inputLayout button {
  height: 15%;
  width: 90%;
  border-radius: .4rem;
}


input[type=number]::placeholder {
  text-align: center;
}


.outputLayout {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outputStyles {
  font-size: 1.8rem;
  color: #3b0b30;
}


.footerLayout {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.footerStyles {
  font-size: 2rem;
  background-color: rgba(218, 165, 32, .4);
  color: #3b0b30;
}
